body{
         background-color: aquamarine;
            
         
}
     .elemento{color: rgb(218, 114, 18);text-align:center;}
     #titulo_principal{color:rgb(126, 3, 126);font-size: 2em;text-align: center;font-weight:bolder;}
     #tabla-inicio{color: rgb(40, 18, 241);font-size: 70;}
     #parrafo{margin-left: 20;}
     